@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* ~~~~~~~~~~~~~ Reset Styles ~~~~~~~~~~~~ */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ~~~~~~~~~~~~~ Variables Styles ~~~~~~~~~~~~ */

:root {
	--primary-font: Outfit;
	--fts-primary: 0, 9375 rem;
	--ftw-400: 400;
	--ftw-700: 700;

	--clr-white: hsl(0, 0%, 100%);
	--clr-neutral: hsl(212, 45%, 89%);
	--clr-primary: hsl(220, 15%, 55%);
	--clr-accent: hsl(218, 44%, 22%);
}

/* ~~~~~~~~~~~~~ General Styles ~~~~~~~~~~~~ */
body {
	min-width: 375px;
	min-height: 100vh;
	padding: 2rem;
	background-color: var(--clr-neutral);
	font-family: var(--primary-font), sans-serif;
	font-size: var(--fts-primary);
	font-weight: var(--ftw-400);
}

h1,
h2,
h3,
h4,
p {
	margin: 1rem 0;
}
img {
	width: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
ul {
	padding: 0;
	list-style-type: none;
}

/* ~~~~~~~~~~~~~ Utilites~~~~~~~~~~~~ */
.grid {
	display: grid;
	place-content: center;
}

/* ~~~~~~~~~~~~~ Card~~~~~~~~~~~~ */
.card {
	max-width: 50vh;
	border-radius: 1rem;
	padding: 1rem;
	background-color: var(--clr-white);
	text-align: center;
}
.card__img {
	border-radius: 1rem;
	overflow: hidden;
}

.card__text h2 {
	color: var(--clr-accent);
	font-weight: var(--ftw-700);
}
.card__text p {
	color: var(--clr-primary);
}
